<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>

    
    {% if pageName not in nostyle %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/' + pageName + '.css')}}">
    
    {% endif %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/master.css')}}">
    <link rel="icon" href="../facicon.ico">

</head>
<body>
    {% block body %}


    {% endblock %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>